---
import Layout from '../layouts/Layout.astro';
---

<Layout title="hikes.digital">
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-4xl font-bold">hikes.digital</h1>
  </main>
</Layout>
